@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
		
*{
  font-family: 'Montserrat', sans-serif;;
}

.margin{
  text-align: center;
  font-size: large;
}
img{
  width: 20%;
}
h1 {
  font-weight: 300;
  text-align: center;
  background-color:#d3bdc8;
  margin-left: 50px;
  margin-right: 50px;
  padding: 20px;
}

form{
  text-align: left;
}

.color{
  color:#c26594;
}

body 	{
	background-color: ;
}
